@model PhotoViewModel
<link rel="stylesheet" href="~/css/login.css" />
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row justify-content-center mt-4 mb-5 border-line">
                        <img class="image" src="~/img/@Model.PhotoString" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <section>
                        <form asp-action="EditPost" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row px-3">
                                <label class="mb-1" asp-for="Localization">
                                    <h6 class="mb-0 text-sm">Location</h6>
                                </label>
                                <input asp-for="Localization" class="mb-4" type="text" placeholder="Edit location for this post" />
                                <span asp-validation-for="Localization" class="text-danger"></span>
                            </div>
                            <div class="row px-3">
                                <label class="mb-1" asp-for="Description">
                                    <h6 class="mb-0 text-sm">Description</h6>
                                </label>
                                <input asp-for="Description" class="mb-4" type="text" placeholder="Edit Description for this post" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="row px-3">
                                <label class="mb-1" asp-for="Title">
                                    <h6 class="mb-0 text-sm">Title</h6>
                                </label>
                                <input asp-for="Title" class="mb-4" type="text" placeholder="Edit Title for this post" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="row px-3">
                                <label class="mb-1" asp-for="UploadDate">
                                    <h6 class="mb-0 text-sm">Original Upload Date</h6>
                                </label>
                                <input asp-for="UploadDate" class="mb-4" readonly="readonly" type="text" placeholder="@Model.UploadDate" />
                                <span asp-validation-for="UploadDate" class="text-danger"></span>
                            </div>
                            <div class="row mb-3 px-3">
                                <button type="submit" class="btn btn-blue text-center">Save</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


